{% extends 'layout.html' %}

{% block title %}Home{% endblock %}


{% block content %}

<form class="search" role="search" name="goto" action="/goto" method="POST">
  <input type="text" name="index" class="form-control" placeholder="Find by tag">
	<button type="Go"><i class="fa fa-search"></i> Find</button>
	<a href="/pythonlogin/find_by_tag/{{ previous_pic }}" class="button" role="button">
  <i class="fas fa-arrow-alt-circle-left"></i> Previus
	</a>
	<a href="/pythonlogin/find_by_tag/{{ next_pic }}" class="button" role="button">
  <i class="fas fa-arrow-alt-circle-right"></i></i> Next
	</a>
</form>

<div>
<h2>Photo founded</h2>
<br>
	<table >
				<tr>
					<td><b>Photo id:</b></td>
					<td>{{ data }}</td>
				</tr>
	 </table>
<img id="main" src="{{ url_for('static', filename='images/'+data+'.png') }}" class="main_img" alt="">
</div>

<div>
<h2>{{ all_info|length }} objects founded on image:</h2>
<canvas id="sec" width="950" height="534" class="sec_img"></canvas>
</div>

{% for info in all_info %}
<script>	
		var flag = 0;
		var img = new Image();
		img.onload = function() {
			if( flag == 0){
				var c=document.getElementById("sec");
				var ctx=c.getContext("2d");
				var scale=(950/img.width)
				ctx.drawImage(img, 0, 0, img.width*scale, img.height*scale); 
				flag =1;
			}
			var sec=document.getElementById("sec");
			var context=sec.getContext("2d");
			var scale=(950/img.width)
			context.lineWidth = "3";
			context.strokeStyle = "hsl(" + Math.random() * 360 + ", 100%, 75%)";
			context.strokeRect({{ info[0] }}*scale, {{ info[1] }}*scale , {{ info[2] }}*scale, {{ info[3] }}*scale);
		}
		img.src = "{{ url_for('static', filename='images/'+data+'.png') }}";
	</script>
{% endfor %}

{% for info in all_info %}
	<div>
	<h2>Details</h2>
	<br>
	<table >
				<tr>
					<td><b>Object:</b></td>
					<td>{{ info[4]|capitalize }}</td>
				</tr>
				{% if info|length > 5 %}
					<tr>
						<td><b>Brand:</b></td>
						<td>{{ info[5] }}</td>
					</tr>
					<tr>
						<td><b>Model:</b></td>
						<td>{{ info[6] }}</td>
					</tr>
				{% endif %}

	 </table>	

	<h2>Szczegóły położenia obiektu na obrazie.</h2>
	<br>
	<table >
				<tr>
					<td><b>X coordinate:</b></td>
					<td>{{ info[0] }} pixel</td>
				</tr>
				<tr>
					<td><b>Y coordinate:</b></td>
					<td>{{ info[1] }} pixel</td>
				</tr>
				<tr>
					<td><b>Width:</b></td>
					<td>{{ info[2] }} pixeli</td>
				</tr>
				<tr>
					<td><b>Height:</b></td>
					<td>{{ info[3] }} pixeli</td>
				</tr>	
	 </table>
	<h2>Photo of object</h2>
	<br>
		<canvas id={{ info[0] }} width={{ info[2] }} height={{ info[3] }} class="part_img"></canvas>
	</div>
{% endfor %}
{% for info in all_info %}
<script>
		var img = new Image();
		img.src = "{{ url_for('static', filename='images/'+data+'.png') }}";
		img.onload = function() {
			var c=document.getElementById({{ info[0] }});
			var ctx=c.getContext("2d");
			ctx.drawImage(img,-{{ info[0] }},-{{ info[1] }});
		}
	</script>
{% endfor %}



{% endblock %}
