mysqlclient==2.0.3
Flask==1.1.2
pymysql==0.10.1
Flask-MySQLdb==0.2.0
prometheus_flask_exporter==0.18.1
matplotlib==3.3.3
numpy==1.18.5
pillow==8.0.1; python_version >= '3.6'
pymongo==3.11.0
pyyaml==5.3.1
